@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-[#171923] text-white;
}

.min-height-screen {
  min-height: calc(100vh - 170px);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.55);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #6b728000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #6b728000;
}

*::-webkit-scrollbar-thumb {
  background-color: #6b728000;
  border-radius: 10px;
  border: 3px groove #6b7280;
}
